<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.Micky1979.plist.WifiInjector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WifiInjector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Atheros Newma40</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AirPort.Atheros40</string>
			<key>IOClass</key>
			<string>AirPort_AtherosNewma40</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,088e</string>
				<string>pci168c,3e</string>
				<string>pci168c,2d</string>
				<string>pci168c,2b</string>
			</array>
			<key>IOProbeScore</key>
			<integer>600</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>Broadcom 43224</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AirPortBrcm43224</string>
			<key>IOClass</key>
			<string>AirPort_Brcm43224</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>pci14e4,4315</string>
				<string>pci14e4,4321</string>
				<string>pci14e4,4322</string>
				<string>pci14e4,4329</string>
				<string>pci14e4,432a</string>
			</array>
			<key>IOProbeScore</key>
			<integer>600</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>TruePowerOff</key>
			<true/>
		</dict>
		<key>Broadcom 4331</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AirPort.Brcm4331</string>
			<key>IOClass</key>
			<string>AirPort_Brcm4331</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>pci14e4,0576</string>
				<string>pci14e4,4357</string>
				<string>pci14e4,4358</string>
				<string>pci14e4,4359</string>
			</array>
			<key>IOProbeScore</key>
			<integer>602</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>TruePowerOff</key>
			<true/>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
